.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  text-align: center;
  cursor: pointer;
  font-size: 50px;
  font-weight: 800;
}

.primary {
  color: blue;
}

.secondary {
  color: red;
}
/*  */
